package data

import (
	_ "embed"
	"encoding/json"
)

//go:embed frequencies.go.languages.json
var languages []byte
//go:embed frequencies.go.tokens.json
var tokens []byte

func init() {
	json.Unmarshal(languages, &LanguagesLogProbabilities)
	json.Unmarshal(tokens, &TokensLogProbabilities)
}

var LanguagesLogProbabilities = map[string]float64{}

var TokensLogProbabilities = map[string]map[string]float64{}

var TokensTotal = {{ toFloat64 .TokensTotal -}}
