package data

import (
	_ "embed"
	"encoding/json"

	"github.com/go-enry/go-enry/v2/data/types"
)

//go:embed languageInfo.go.json
var langInfo []byte

func init() {
	json.Unmarshal(langInfo, &LanguageInfoByID)
}

type LanguageInfo = types.LanguageInfo

// LanguageInfoByID allows accessing LanguageInfo by a language's ID.
var LanguageInfoByID = map[int]LanguageInfo{}
