package data

import (
	_ "embed"
	"encoding/json"

	"github.com/go-enry/go-enry/v2/data/types"
)

//go:embed type.go.json
var langType []byte

func init() {
	json.Unmarshal(langType, &LanguagesType)
}

type Type = types.Type

var LanguagesType = map[string]int{}
